<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainBlue</key>
	<string>405eeb</string>
	<key>inputText1</key>
	<string>909090</string>
	<key>inputText2</key>
	<string>5c5c5c</string>
	<key>borderGray</key>
	<string>[219,219,219]</string>
	<key>grayBg</key>
	<string>f5f5f5</string>
</dict>
</plist>
