<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xt_main</key>
	<string>68aad9</string>
	<key>xt_bg</key>
	<string>f2f0f3</string>
	<key>xt_text_dark</key>
	<string>697577</string>
	<key>xt_text_light</key>
	<string>b3b9bf</string>
</dict>
</plist>
